* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
  background: linear-gradient(35deg, rgba(19, 19, 19, 1) 0%, rgba(39, 39, 39, 1) 100%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  cursor: crosshair;
}

p {
  font-family: "Roboto", sans-serif;
}

#root {
  overflow: auto;
}

h2 {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-weight: 300;
  color: white;
  z-index: 1;
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  letter-spacing: 3px;
}

.play-button {
  position: absolute;
  top: 50%;
  z-index: 1000;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  border: 1px solid white;
  padding: 10px 35px;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.play-button--hidden {
  opacity: 0;
}

.quit-button {
  position: absolute;
  bottom: 15px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  border: 1px solid white;
  padding: 10px 35px;
  color: white;
  right: 15px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.quit-button--hidden {
  opacity: 0;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  color: #272727;
  -webkit-font-smoothing: antialiased;
}

.app {
  text-align: center;
  height: 100%;
}

nav {
  margin-left: auto;
  position: absolute;
  transform: rotate(90deg) translate(105%, 0);
  right: 0px;
  top: 0;
  transform-origin: right top;
}

h1 {
  color: #fff;
  font-size: 16px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;

  color: #fff;
  transition: ease-in-out 0.3s color;
}
nav ul li a:hover {
  color: #767168;
}

main {
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 5px 15px;

  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }

  /* nav {
    width: 100%;
  } */

  nav ul li a {
    font-size: 12px;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.5;
  background-image: url("./otis-redding.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.gamehud__container {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
  background-color: #00000038;
  display: flex;
  padding: 0 25px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.gamehud__container--hidden {
  opacity: 0;
}

.gamehud__score,
.gamehud__time {
  color: white;
  margin-right: 50px;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
